@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

.main {
  font-family: "Luckiest Guy", cursive;
  width: 100%;
  height: auto;
  margin: 7rem 3rem 3rem 3rem;
  background-color: #3a0ca3;
  border-radius: 7.125rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.image {
  width: 42rem;
}

.modes {
  position: relative;
  font-size: 4.5rem;
  line-height: 1;
  font-weight: 700;
}

.modes p {
  position: absolute;
  width: auto;
  height: auto;
  padding: 1rem;
}

.one {
  position: relative;
  bottom: 2.7rem;
  right: 5rem;
  text-align: center;
}

.bot {
  position: relative;
  bottom: 4rem;
  right: 4rem;
  text-align: center;
}

.tourn {
  position: relative;
  bottom: 4rem;
  left: 4rem;
  text-align: center;
}
.two {
  position: relative;
  bottom: 2.7rem;
  left: 3.5rem;
  text-align: center;
}
