@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

.main {
  font-family: "Luckiest Guy", cursive;
  width: 100%;
  max-width: 1600px;
  height: auto;
  margin: 7rem 3rem 3rem 3rem;
  background-color: #3a0ca3;
  border-radius: 7.125rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.3);
  border-radius: 65px;
  flex-direction: column;
}

.mode {
  position: absolute;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 1rem;
  width: 100%;
  height: 100%;
  background-color: #ff0000;
}


.modes {
  position: relative;
  font-size: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;  
  font-weight: 700;
}

.modes p {
  position: absolute;
  width: auto;
  height: auto;
  padding: 1rem;
}

.one {
  position: relative;
  bottom: 2.7rem;
  right: 5rem;
  text-align: center;
}

.bot {
  position: relative;
  bottom: 4rem;
  right: 4rem;
  text-align: center;
}

.tourn {
  position: relative;
  bottom: 4rem;
  left: 4rem;
  text-align: center;
}
.two {
  position: relative;
  bottom: 2.7rem;
  left: 3.5rem;
  text-align: center;
}

@media screen and (max-width: 1024px) { 
  .here 
  {
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: -5rem;
    bottom: 1rem;
    overflow: scroll;
  }
  .image {
    width: 100%;
    height: 100%;
  }
}

.utils {

  background-color: #3A0CA3;
  bottom: 6.2rem;
  box-shadow: 0px 4px 14px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 4px 14px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 14px 0px rgba(0,0,0,0.75);
  border-radius: 65px;
  width: 85%;
  max-width: 85%;
  height: 130px;

  min-height: 130px;
}

.embla__button__svg {
  width: 35%;
  height: 35%;
}

.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 3.6rem;
  height: 3.6rem;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hover-text {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
  color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
  white-space: nowrap;
  transition: visibility 0.2s, opacity 0.2s;
}