.ChatLayout{
    background-color: #560BAD;
    height: 100%;
    width: 90%;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* padding: 40px; */
}

.UserStatus
{
    padding-top: 15px;
    width: 90%; /* Or any specific width */  
    margin: 0 auto;
    display: flex;
    /* gap: 20px; */
    color: white;
    justify-content: space-between;
}

#info
{
    width: 30px;
    height: 30px;
}

#pdf 
{
    width: 60px;
    height: auto;
}

.centered-line {
    width: 88%; /* Adjust width as needed */
    height: 1px; /* Thickness of the line */
    background-color: white; /* Line color */
    margin: 0 auto;
    margin-top: 10px;
  }

.MessegeInput 
{
    /* display: flex; */
    margin: 0 auto;
    width: 90%;
    background-color: white;
    height: 35px;
    /* justify-content: flex-end; */
    margin-bottom: 20px;
    /* margin: 0; */
    /* padding: 0; */
    /* height: 10%; */
    border-radius: 10px;
}

.Input
{
    /* width: 80%; */
   
}

.SendMsg
{
    padding: 0;
    margin: 0;
    border: #560BAD solid 5px;
}