.FriendsList{
    background-color: #3A0CA3;
    height: 100%;
    width: 30%;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

.OnlineFriends img
{
    width: 47.06px;
    height: 46.06px;
    margin: 5px;
}


.OnlineFriends
{
    /* margin: 10px; */
    width: 61px;
    height: 86px;
    text-align: center;
    color: white;
}

.Search
{
    
}