/* .MessagesHeader
{
    display: flex;
    justify-content: space-between;
    color: white;
    width: 92%;
    margin: 0 auto;
    padding-top: 10px;
} */
/* 
.FriendsList h1
{
    color: #FFFFFF;
} */

/* .MessagesHeader h1
{
    font-size: 24px;
} */

/* .MessagesHeader img
{
    width: 23.47px;
    height: 24px;

} */

/* #Title
{
    width: ;
} */