.main_div_b {
    display: flex;
    text-align: center;
    border-radius: 30px;
    width: 466px;
    height: 428px;
    flex-direction: column;
    background-image: url("/Home_page/card_bg.png"); /* Adjust the path as necessary */
  }
  
  .icon_div_b {
    display: flex;
    justify-content: center;
    align-content: center;
    flex: 3;
  }
  
  .title_div_b {
    flex: 1;
    font-weight: bold;
  font-size: 40px;
  color: #3a0ca3;
  }
  
  .text_icon_div_b {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: start;
  }
  .text_b
  {
    color: #3a0ca3;
    padding-left: 40px;
    padding-right:40px ;
    padding-bottom:30px ;
    display: flex;
    font-weight: bold;
    font-size: 25px;
    
  }
  /* @media screen and (max-width: 425px) {
    .main_div_b {
      width: 382px;
      height: 350px;
    }
  }

  @media screen and (max-width: 375px) {
    .main_div_b {
      width: 310px;
      height: 300px;
    }
    .text_b
  {
    font-size: 19px;
  }
  } */

  @media screen and (max-width: 450px) {
    .main_div_b {
      width: 20%;
      height: 15%;
    }
    .title_div_b {
      font-size: 20%;
    }
    .text_b
    {
      font-size: 10%;
    }
  }

  @media screen and (max-width: 768px) {
    .main_div_b {
      width: 20%;
      height: 15%;
    }
    .title_div_b {
      font-size: 20%;
    }
    .text_b
    {
      font-size: 10%;
    }
  }