.main_div_s {
  display: flex;
  text-align: center;
  border-radius: 30px;
  width: 382px;
  height: 350px;
  flex-direction: column;
  background-image: url("/Home_page/card_bg.png"); /* Adjust the path as necessary */
}

.icon_div_s {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex: 3;
}

.title_div_s {
  flex: 1;
  font-weight: bold;
font-size: 40px;
color: #3a0ca3;
}

.text_icon_div_s {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: start;
}
.text_s
{
  color: #3a0ca3;
  display: flex;
  font-weight: bold;
  font-size: 20px;
  
}
.icon_s
{
  display: flex;
}

/* @media screen and (max-width: 375px) {
  .main_div_s {
    width: 310px;
    height: 300px;
  }
} */

@media screen and (max-width: 450px) {
  .main_div_s {
    width: 33vw;
    height: 33vw;
  }
  .title_div_s {
    font-size: 20%;
  }
  .text_s
  {
    font-size: 10%;
  }
}

@media screen and (max-width: 768px) {
  .main_div_s {
    width: 33vw;
    height: 33vw;
}
.title_div_s {
  font-size: 100%;
}
.text_s
{
  font-size: 10%;
}
}

@media screen and (max-width: 425px) {
  .main_div_s {
    width:fit-content;
    height:fit-content;
    border-radius: 0.5rem;
  }
  .title_div_s {
    color: antiquewhite;
    font-size: 100%;
  }
  .icon_div_s {
    position: relative;
    left: 18px;
    width: 60%;
    align-items: center;
  }
}