* {
  color: white;
  margin: 0;
  padding: 0;
}

.main_p_1 {
  color: white;
  position: relative;
  display: flex;
  height: 100vh;
  background-image: url("/Home_page/b_g_1.jpeg");
  background-size: cover;
}

.dev_text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 13%;
  margin-left: 8%;
}
.text_1 {
  font-family: "Chau Philomene One", sans-serif;
  font-weight: 400;
  font-size: 63px;
}
.text_2 {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 27px;
  font-family: "manjari", sans-serif;
}

#btn_play_now {
  font-family: "manjari", sans-serif;
  color: white;
  border: white 2px solid;
  padding: 18px 24px;
  font-weight: bolder;
  border-radius: 50px;
  cursor: pointer;
  background-color: transparent;
  letter-spacing: 1.5px;
  font-size: 20px;
  vertical-align: middle;
  text-align: center;
}


#btn_play_now:hover
{
  color: #3A0ca3;
  background-color: white;

}


p {
  font-size: 63px;
}

#wave
{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.ft_p1
{
  left: 0;
  bottom: 0;
  width: 100%;
  position:static;
  
}

@media only screen and (max-width: 1024px) {
  .main_p_1 {
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 425px) {

  p {
    text-align: center;
    /* color: white; */
    font-size: 34px;
  }
  .text_2 
  {
    /* color: white; */
  }
}
