.nav_bar_items {
  margin: 0 1rem;
}

.nav_bar_items:hover {
  margin: 0 1rem;
  filter: brightness(150%);
}

@media (min-width: 1440px) {
  #paths_list
  {
    justify-content:  right;
    margin-right: 10rem;
  }
}

@media (max-width: 768px) {
  #paths_list
  {
    display: none;
  }
  #options
  {
    display: flex;
  }
  #logo_nav_bar
  {
    margin-left: 1rem;
    width: 6rem;
  }
}