<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebSocket Broadcast</title>
</head>
<body>
    {% comment %} <h1>Broadcast Example</h1> {% endcomment %}
    <button id="left_paddle">up</button>
    <button id="right_paddle">down</button>
    {% comment %} <div id="messages" style="background-color: coral; height: 150px; width: 150px; margin: 15px;"></div> {% endcomment %}

    <script>
        const socket = new WebSocket('ws://' + window.location.host + '/ws/game/');

        socket.onopen = function (e) {
            console.log("The connection was setup successfully !");
        };

        socket.onclose = function (e) {
            console.log("Something unexpected happened !");
        };

        document.getElementById('left_paddle').onclick = function() {
            socket.send(JSON.stringify({ move: 'up' }));
        };

        document.getElementById('right_paddle').onclick = function() {
            socket.send(JSON.stringify({ move: 'down' }));
        };

        {% comment %} socket.onmessage = function(event) {
            const data = JSON.parse(event.data);
            console.log("Message received:", data.message);
    
            const incrementx = parseInt(data.y, 10);
            const incrementy = parseInt(data.y, 10);
            const messagesDiv = document.getElementById('messages');
    
            const currentWidth = parseInt(window.getComputedStyle(messagesDiv).width, 10);
            const currentHeight = parseInt(window.getComputedStyle(messagesDiv).height, 10);
    
            messagesDiv.style.width = (currentWidth + incrementx) + 'px';
            messagesDiv.style.height = (currentHeight + incrementy) + 'px';
        }; {% endcomment %}
    </script>
</body>
</html>

