.Profile_Page_all {
  display: inline-flex;
  justify-content: center;
  flex-grow: 1;
  /* min-height: 1300px; */
}
.all_content_Profile {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  flex-grow: 1;
  width: 100%;
  max-width: 1600px;
  padding-bottom: 15px;
}

.cover_profile {
  display: flex;
  position: relative;
  flex-grow: 1;
  width: 100%;
  max-height: 280px;
  min-height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 33%;
  background-size: cover;
  border-radius: 20px;
}

.button_settings {
  padding: 20px 15px;
}

.content_profile {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  flex-grow: 3;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
  height: 200px;
  gap: 20px;
  /* background-color: #a7a7a8; */
}

.details_of_profile {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 800px;
  width: 100%;
}

.Button_play {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Recent_Game {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  /* background-color: #3a0ca3; */
}
.Acheivement_and_States {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  /* min-height: 800px; */
  /* background-color: #3a0ca3; */
}

.Content_of_Acheievment {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: 100%;
  /* flex-grow: 2; */
  min-height: 350px;
  /* max-height: 900px; */
}

.Content_of_States {
  display: flex;
  width: 100%;
  flex-grow: 1;
  max-height: 440px;
  min-height: 420px;
}

.play_hide {
  display: none;
}
