.all_content_stat {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 100%;
  max-height: 450px;
  min-width: 450px;
  width: 100%;
}
.Title_stat {
  font-family: "Luckiest Guy", cursive;
  color: aliceblue;
  font-size: 40px;
}
.Content_stat {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  border-radius: 20px;
  height: 100%;
  width: 100%;
  background-color: #3a0ca3;
}

.css-132pz3d-MuiChartsAxis-root-MuiChartsXAxis-root .MuiChartsAxis-line {
    stroke: white !important;
    shape-rendering: crispEdges;
    stroke-width: 1;
}


.css-10d7jww-MuiChartsAxis-root-MuiChartsYAxis-root .MuiChartsAxis-line {
    stroke: white !important;
    shape-rendering: crispEdges;
    stroke-width: 1;
}

.MuiChartsAxis-tick{
  stroke-width: 1;
  shape-rendering: crispEdges;
  stroke: white !important;
}

.the_table_stats {
  flex-grow: 6;
  margin-top: 20px;
  border-radius:13px;
  /* background-color: whitesmoke; */
  width: 480px;
  height: 1px;
}

.info_table_stats {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: self-start;
  gap: 30px;
  padding-left: 60px;
  flex-grow: 1;
}

.win_info {
  width: 15px;
  height: 15px;
  border-radius: 30px;
  background-color: green;
}
.lose_info {
  width: 15px;
  height: 15px;
  border-radius: 30px;
  background-color: red;
}

.text_lose,
.text_win {
  color: aliceblue;
  font-family: "Alexandria", sans-serif;
  font-size: large;
}
