*{
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  background-color: none;
  box-shadow: none;
  color: white;
  scrollbar-width: none !important;
  
}

body{
    width:100svw;
    height:100svh;
    overflow-x: hidden;
    scrollbar-width: none !important;
}
body::-webkit-scrollbar{
    display: none !important;
}
*::-webkit-scrollbar{
    display: none !important;
}
/* .maxfocus-highlighted
{
 background-color: none;
 box-shadow: none;
} */

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}