.main_login {
  color: white;
  background-color: #3f37c9;
  height: 100vh;
  width: 100%;
  display: flex;
  flex: 1;
  position: fixed;
}

.leftContainer {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin: 5rem;
}

.login_left {
  display: flex;
  flex: 1;
  border: solid 2px white;
  border-radius: 2rem;
  padding: 5rem 3rem;
  align-items: center;
  justify-content: center;
}

.left_cont {
  min-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#logo_login {
  width: 203px;
  height: 126px;
  margin-bottom: 10px;
}

.game_logo_login {
  display: flex;
  flex: 2;
}
.login_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 4;
}
.div_mail,
.div_pw {
  width: 150%;
  margin-bottom: 35px;
}

.login_btn_forget {
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  width: 230%;
}
.forget_pass {
  color: #24bd7d;
  font-weight: 500;
}

#btn_login {
  background-color: white;
  font-family: "Kanit", Times, serif;
  color: #0f4164;
  padding: 4px 10px;
  font-size: 20px;
}
.dotted-line {
  padding: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  width: 140%;
  border-top: 2px dotted #ccc;
  margin-top: 30px;
}
#or {
  position: absolute;
  top: -25px;
  font-weight: bolder;
  padding: 10px;
  background-color: #3f37c9;
}
.login_42_google {
  display: flex;
  flex-direction: column;
  flex: 2;
}
.auth {
  margin-bottom: 20px;
}
.forget_and_singup {
  width: 75%;
  display: flex;
  flex: 1;
  margin-bottom: 20px;
  justify-content: space-between;
}

/* ////////////////////////// */

.login_right {
  text-align: center;
  border-left: solid 2px white;
  flex: 2;
  display: flex;
  flex-direction: column;
}

.title_login {
  display: flex;
  font-size: 4vw;
  flex: 2;
  justify-content: center;
  align-items: center;
}
.img_login_ping {
  display: flex;
  justify-content: center;
  align-items: start;
  flex: 3;
}

@media screen and (max-width: 768px) {
  .login_right {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  .leftContainer {
    margin: 0;
  }
  .login_left {
    margin-top: 40px;
    padding: 0;
    border: 0;
  }
  .left_cont {
    min-width: 0;
    width: 174px;
  }
  #logo_login {
    width: 203px;
    height: 126px;
  }
  .leftContainer {
    align-items: start;
  }
}

#err_msg {
  margin-top: 12px;
  color: red;
}
