.All_Action {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 10px;
    color: aliceblue;
    font-size: larger;
    font-family: "Alexandria", sans-serif;
    font-weight: 400;
}

.add_friend {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #3a0ca3;
    flex-grow: 1;
    /* max-width: 260px; */
    border-radius: 25px;
    height: 90%;
    gap: 10px;
}

.icone_add {
    width: 30px;
}

.icone_block {
    width: 33px;
}

.add_block{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;

    background-color: #ff0d0d;
    flex-grow: 1;
    border-radius: 25px;
    height: 90%;
}