.All_Action {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 10px;
  color: aliceblue;
  font-size: larger;
  font-family: "Alexandria", sans-serif;
  font-weight: 400;
}

.Add_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* background-color: #3a0ca3; */
  flex-grow: 1;
  /* max-width: 250px; */
}

.add_friend {
  /* border: 1px  solid whitesmoke; */
  background-color: #270772;
  border-radius: 15px;
  height: 90%;
  width: 75%;
}
.add_friend_i {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  
}

.wait_request {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* border: 1px  solid whitesmoke; */
  justify-content: center;
  background-color: #270772;
  border-radius: 15px;
  height: 90%;
  width: 75%;
  gap: 10px;
}

.accept_or_decline {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 30px;
  width: 90%;
  height: 100%;
}

.accept {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-color: #03d101;
  border-radius: 20px;
}

.decline {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  border-radius: 20px;
  background-color: #ff0d0d;
}

.accept1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-color: #2707726e;
  border: .5px solid whitesmoke;
  border-radius: 20px;
}

.decline1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  border-radius: 20px;
  background-color: #270772;
}

.icone_add,
.icone_cancel_request {
  width: 30px;
}

.Block_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* background-color: #3a0ca3; */
  flex-grow: 1;
  max-width: 200px;
}

.icone_block {
  width: 33px;
}

/* .add_block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 15px;
    height: 90%;
    } */

.add_block {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  background-color: #ff0d0d;
  border-radius: 15px;
  height: 100%;
  width: 100%;
  gap: 10px;
}
