.details_of_the_profile {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 40px;
  height: 100%;
  min-height: 880px;
  min-width: 450px;
  width: 100%;
  background-color: #3a0ca3;
}

.Photo_and_state {
  display: flex;
  position: relative;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding-top: 30px;
  /* padding: 20px; */
  /* height: 50%; */
}

.Photo_of_the_profile {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #612ae2;
  width: 40dvw;
  height: 40dvw;
  /* min-inline-size: 170px;
  min-block-size: 170px;*/
  max-inline-size: 240px;
  max-block-size: 240px; 
  border-radius: 50%;
  box-shadow: 0 0 10px black;
  margin-top: -160px;
  margin-right: 4%;
}

.Photo_P2 {
  border-radius: 50%;
  width: 85%;
  height: 85%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.51);
}

.States_Profile1 {
  /* position: relative; */
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  /* align-items: center; */
  gap: 30px;
  /* height: 100%; */
  width: 90%;
  max-height: 300px;
  padding: 25px 0 0;
  color: aliceblue;
}
.Win_and_Achievem {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.Win_State {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 50%;
  /* margin-right: 140px; */
}
.Acheivement_State {
  /* background-color: #e2862a; */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 60%;
  margin-left: 100px;
}
.Exp_and_Lose {
  display: inline-flex;
  flex-direction: column-reverse;
  align-items: center;
  flex-grow: 1;
}
.Lose_State {
  position: absolute;
  /* background-color: #e22a2a; */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 17%;
  margin-right: 140px;
  margin-bottom: 50px;
  margin-right: 90px;
}
.Exp_State {
  /* background-color: #d02ae2; */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 60%;
  margin-left: 60px;
  margin-bottom: 140px;
}


.Info_Player {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: 515px;
  justify-content: center;
}

.the_name_profile {
  color: aliceblue;
  font-size: 35px;
  font-weight: 600;
  font-family: "Alexandria", sans-serif;
  text-align: start;
  padding-bottom: 10px;
}

.Exp_Level {
  color: aliceblue;
  padding-left: 30px;
}

.Static_Game {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 20px;
  border: solid .5px whitesmoke;
  border-radius:30px;
  justify-content: center;
}

.inside_ul {
  width: 93%;
}

.Static_Text {
  font-family: "Luckiest Guy", cursive;
  color: aliceblue;
  font-size: xx-large;
  text-shadow: 0 3px 5px black;
  /* text-align: center; */
  padding-left: 30px;

}
.title_of_player_stats {
  font-family: "Alexandria", sans-serif;
  color: whitesmoke;
  font-weight: 600;
  font-size: 40px;
  text-align: center;
}

.The_level{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

.level_Profile {
  position: relative;
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 10px;
}

.Progress_bar_lvl {
  height: 12px;
  width: 93%;
  margin-left: 5px;
  color: green;
  background-color: white;
  border-radius: 30px;
}

.lvl_progress {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Etoile_lvl{
  position: absolute;
  height: 50px;
}

.lvl_value {
  position: absolute;
  font-weight: 500;
  margin-top: 10px;
  font-size:27px;
  display: flex;
  font-family: "Luckiest Guy", cursive;
  color: black;
}

.Exp_Level {
  align-self: self-start;
  text-shadow: 0 3px 5px black;
  margin-left: 20px;
  margin-top: 8px;
  font-size: 20px;
  font-family: "Luckiest Guy", cursive;
}

.Color_Yellow {
  color: #FFC24F;
}

.hover_container1 {
  position: relative;
}
.hover_text1 {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #00000096;
  color: #fff;
  padding: 5px 10px;
  border-radius: 20px;
  white-space: nowrap;
  transition: visibility 0.2s, opacity 0.2s;
}

.hover_container1:hover .hover_text1 {
  visibility: visible;
  opacity: 1;
}

.hover_text11 {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #00000096;
  color: #fff;
  padding: 5px 10px;
  border-radius: 20px;
  white-space: nowrap;
  transition: visibility 0.2s, opacity 0.2s;
}

.hover_container11:hover .hover_text11 {
  visibility: visible;
  opacity: 1;
}