.All_Content_Leaderboard {
    font-family: "Alexandria", sans-serif;
    position: relative;
    height: 100%;
    width: 100%;
    gap: 15px;
    padding: 18px;
    display: flex;
    flex-direction: column;
}

.Title_Leaderboard {
    font-style: normal;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    color: aliceblue;
}

.The_Title_Leaderboard {
    font-size: x-large;
    font-weight: bolder;
    padding: 0 23px;
}

.Button_More {
    background-color:aliceblue;
    width: 80px; 
    height: 40px;
    border-radius: 30% 62% 24% 38% / 88% 25% 63% 32%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.356);
    font-size:larger;
    position: absolute;
    right: 40px;
    color: #5116C4;
}
.Table_Leaderboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    overflow: hidden;
}

.Title_Table_Leaderboard{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
    min-height: 50px;
    background: #5116C4;
    border-radius: 35px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.356);
}

.the_Name {
    font-size: clamp(11px, 3vw, 16px);
    color: aliceblue;
}

.UserName {
    margin-left: 50px;
}

.Rank {
    margin-left: 30px;
}

.Score {
    margin-right: 20px;
}

.Top10 {
    background-color: aliceblue;
    font-size: 25px;
    font-weight: 600;
    padding: 0 20px;
    margin-left: 10px;
    color: #5116C4;
    box-shadow: 0 0 5px black;
    text-align: center;
    border-radius: 30px;
}

.Inside_Leaderboard {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    color: aliceblue;
    width: 100%;
    overflow-y: scroll;
    padding-right: 20px;
    gap:20px;
}

/* 
.ss1 {
    color: aliceblue;
    font-size: large;
} */

.every_columns1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.index {
    font-family: "Luckiest Guy", cursive;
    color: aliceblue;
    font-size: large;
    padding-left: 20px;
    /* width: 50px; */
}

.photo_Profile {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.the_name {
    font-size: large;
    font-family: "Alexandria", sans-serif;
    color: aliceblue;
    font-weight: 800;
    /* width: 190px; */

}

.points {
    position: absolute;
    right: 20px;
}
