@media (min-width:1595px) {
    
    .Overview_Page {
        display: flex;
        flex-direction: row;
        position: relative;
        /* align-items: start; */
        flex-grow: 1;
        justify-content: center;
        /* gap: 25px; */
        /* justify-content:center; */
        /* flex-wrap: wrap; */
    }

    
    .Part_1 {
        display: flex;
        /* background-color: aquamarine; */
        flex-grow: 2;
        max-width: 1000px;
        min-height: 1250px;
    }
    
    .Welcome_Back {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        /* text-align: center; */
        margin: -.5px 580px;
        color: aliceblue;
        font-size: 35px;
        letter-spacing: 5px;
        font-weight: 400;
        background-color: #3A0CA3;
        width: 400px;
        height:60px;
        border-radius: 40px;
        /* box-shadow: 0 0 10px #000000; */
    }
    
    .Background_Profile {
        /* background-color: rgb(46, 166, 122); */
        background-image: url(../Images/Back1.png);
        background-size: cover;
        background-position:top;
        background-repeat: no-repeat;
        display: inline-flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: flex-end;
        flex-grow: 1;
        border-radius: 65px;
    }
    

    
    .States_Profile {
        display: flex;
        /* background-color: blueviolet; */
        flex-grow: 1.5;
        /* width: 60%; */
        max-width: 550px;
        height: 250px;
        margin: 15px;
        border-radius: 20px;
    }
    
    .Top_Achievement {
        display: flex;
        /* background-color:brown; */
        flex-grow: 1;
        height: 250px;
        margin: 15px;
        border-radius: 20px;
    }
    
    .Part_2 {
        /* background-color: rgb(88, 71, 131); */
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        flex-grow: 1;
        max-width: 600px;
        min-width: 450px;
        gap: 20px;
        padding: 20px;
        min-height: 1250px;
    }
    .Leaderboard {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 3;
        background-color: aqua;
        width: 100%;
        border-radius: 50px;
    }
    .Online_Friends{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 2;
        background-color: rgb(201, 129, 145);
        width: 100%;
        border-radius: 50px;
        
    }
    .Play_Button {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: .5;
        background-color: rgb(80, 195, 141);
        width: 100%;
        border-radius: 50px;
    }
    .Top_Achievement_mobile {
        display: none;
    }
}
@media (min-width:1143px) and (max-width:1595px) {
     
    .Overview_Page {
        /* overflow: hidden; */
        display: flex;
        /* position: relative; */
        flex-direction: column;
        flex-grow: 1;
        justify-content: start;
        align-items: center;
        gap: 29px;
    }

    
    .Part_1 {
        display: flex;
        /* background-color: aquamarine; */
        justify-content: center;
        /* align-items: center; */
        flex-grow: 1;
        max-width: 900px;
        min-height: 800px;
        width: 100%;
    }
    .Background_Profile {
        background-image: url(../Images/Back1.png);
        background-size: cover;
        background-position:top;
        background-repeat: no-repeat;
        display: inline-flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: flex-end;
        flex-grow: 1;
        border-radius: 60px;
    }
    
    .States_Profile {
        justify-content: center;
        display: flex;
        max-width: 550px;
        height: 250px;
        margin: 15px;
        border-radius: 20px;
    }
    
    .Top_Achievement {
        display: flex;
        flex-grow: 1;
        height: 250px;
        margin: 15px;
        border-radius: 20px;
    }
    
    .Part_2 {
        display: grid;
        background-color: rgb(88, 71, 131);
        max-width: 900px;
        grid-template-columns: 1.5fr 1fr;
        grid-template-rows: 4fr 1fr;
        flex-grow: .8;
        width: 100%;
        padding: 20px;
        gap: 20px;
    }

    .Leaderboard {
        background-color: aqua;
        border-radius: 20px;
        grid-column: 1 / 2;
        grid-row: 1 / 3;
    }

    .Online_Friends{
        background-color: rgb(201, 129, 145);
        border-radius: 20px;
        grid-column: 2 / 2;
        grid-row: 1 / 2;
    }

    .Play_Button {
        grid-column: 2 / 2;
        grid-row: 2 / 3;
        background-color: rgb(80, 195, 141);
        border-radius: 20px;
    }
    .Top_Achievement_mobile {
        display: none;
    }
}

@media (max-width:1143px) {
    .Overview_Page{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        flex-grow: 1;
        justify-content: start;
        align-items: center;
        gap: 15px;

    }
    .Part_1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 2;
        width: 100%;
        min-height: 800px;
        /* min-height: 500px; */
    }
    .Background_Profile {
        display: flex;
        background-image: url(../Images/Back1.png);
        background-size: cover;
        background-position:top;
        background-repeat: no-repeat;
        justify-content: center;
        align-items: end;
        flex-grow: 1;
        width: 100%;
        border-radius: 65px;
    }
    
    .States_Profile {
        display: flex;
        justify-content: center;

        height: 200px;
        width: 97%;
        margin-bottom: 55px;
        border-radius: 20px;
    }
    
    .Top_Achievement{ 
        display: none;
    }
    .Top_Achievement_mobile {
        display: flex;
        /* background-color:brown; */
        /* flex-grow: .4; */
        width: 65%;
        min-width: 300px;

        /* min-height: 220px; */
        border-radius: 30px;
    }
    .Part_2 {
        display: flex;
        flex-direction: column;
        background-color: rgb(88, 71, 131);
        flex-grow: 1.5;
        width: 100%;
    }

    .Leaderboard {
        display: flex;
        flex-grow: 2;
        background-color: aqua;
    }
    
    .Online_Friends {
        display: flex;
        flex-grow: 2;
        background-color: rgb(201, 129, 145);
    }
    
    .Play_Button {
        display: flex;
        flex-grow: 1;
        background-color: rgb(80, 195, 141);
    }

}
